[Desktop Entry]
Type=Application
Name=Dart Screensaver
Comment=Startet Chromium-Kiosk nach Inaktivität
Exec=@DART_SCREENSAVER_EXEC@
X-GNOME-Autostart-enabled=true
